.outline {
  color: #d49d85;
  background-color: #fffde0;
  border: 3px solid #d49d85;
  width: 100%;
  max-width: 350px;
}

.primary {
  color: #fff;
  background-color: #d49d85;
  border: 3px solid #d49d85;
  width: 100%;
  max-width: 350px;
}

button {
  width: 100%;
  padding: 0.25rem;
  border-radius: 15px;
  font-size: 20px;
  outline: none;
  font-family: Chewy, sans-serif;
  letter-spacing: 1.5px;
  cursor: pointer;
}
