* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: Chewy, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fffde0;
  padding-bottom: 2rem;
  color: #d49d85;
  min-height: 100vh;
  overflow: hidden;
  padding: 1rem;
  width: 100vw;
  background: center no-repeat;
  background-size: cover;
}

.desktop-img {
  background-color: #d49d85;
  width: 0vw;
  height: 100vh;
  position: fixed;
  float: left;
  display: block;
  background: url("https://images.unsplash.com/photo-1605197585663-011e30915ab1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80")
    center no-repeat;
  background-size: cover;
}

.desktop-img-span {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  color: #fffde0;
  font-family: Chewy, sans-serif;
  opacity: 0.7;
  font-size: 12px;
  visibility: hidden;
}

h1 {
  font-size: 36px;
  font-weight: 500;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .desktop-img {
    width: 40vw;
  }

  .desktop-img-span {
    visibility: visible;
  }

  .App {
    width: 60vw;
    position: absolute;
    right: 0;
  }
}
